.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  color: #000000;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}

